@import 'tailwindcss';
@variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="tel"],
    input[type="url"],
    select,
    textarea {
        @apply bg-white dark:bg-slate-800/40 border border-slate-200 dark:border-slate-700 text-slate-900 dark:text-slate-200 rounded-xl px-4 py-2.5 text-sm transition-all outline-none;
    }

    input:focus,
    select:focus,
    textarea:focus {
        @apply border-indigo-500;
        box-shadow: 0 0 0 4px rgba(99, 102, 241, 0.1);
    }

    input::placeholder {
        @apply text-slate-400 dark:text-slate-600;
    }
}